<h3 class="text-center">动力系统</h3>
<div class="mui-content">
  <ul class="mui-table-view mui-grid-view mui-grid-9">
    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3 white-bg">
      <%= link_to systems_path do  %>
        <span class="mui-icon xc-icon"><%= image_tag("peidian.png")%></span>
        <div class="mui-media-body">配电</div>
      <% end %>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3 white-bg">
      <%= link_to devices_path do  %>
        <span class="mui-icon xc-icon"><%= image_tag("ups.png")%></span>
        <div class="mui-media-body">UPS</div>
      <% end %>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3 white-bg">
      <%= link_to works_path do  %>
        <span class="mui-icon xc-icon"><%= image_tag("lietougui.png")%></span>
        <div class="mui-media-body">列头柜</div>
      <% end %>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3 white-bg">
      <%= link_to effects_path do %>
        <span class="mui-icon xc-icon"><%= image_tag("ats.png")%></span>
        <div class="mui-media-body">ATS</div>
      <% end %>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3 white-bg">
      <%= link_to its_path do  %>
        <span class="mui-icon xc-icon"><%= image_tag("xudianchi.png")%></span>
        <div class="mui-media-body">蓄电池</div>
      <% end %>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3 white-bg">
      <a href="#">
        <span class="mui-icon xc-icon"><%= image_tag("chaiyouji.png")%></span>
        <div class="mui-media-body">柴油机</div>
      </a>
    </li>
  </ul>
</div>
<h3 class="text-center">环境系统</h3>
<div class="mui-content">
  <ul class="mui-table-view mui-grid-view mui-grid-9">
    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3 white-bg">
      <%= link_to systems_path do  %>
        <span class="mui-icon xc-icon"><%= image_tag("wenshidu.png")%></span>
        <div class="mui-media-body">温湿度</div>
      <% end %>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3 white-bg">
      <%= link_to alerts_path do  %>
        <span class="mui-icon xc-icon"><%= image_tag("loushui.png")%></span>
        <div class="mui-media-body">漏水</div>
      <% end %>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3 white-bg">
      <%= link_to works_path do  %>
        <span class="mui-icon xc-icon"><%= image_tag("jingmikongtiao.png")%></span>
        <div class="mui-media-body">精密空调</div>
      <% end %>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3 white-bg">
      <%= link_to effects_path do %>
        <span class="mui-icon xc-icon"><%= image_tag("jiguiwendu.png")%></span>
        <div class="mui-media-body">机柜温度</div>
      <% end %>
    </li>
  </ul>
</div>
<h3 class="text-center">安防系统</h3>
<div class="mui-content">
  <ul class="mui-table-view mui-grid-view mui-grid-9">
    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3 white-bg">
      <%= link_to systems_path do  %>
        <span class="mui-icon xc-icon"><%= image_tag("shipin.png")%></span>
        <div class="mui-media-body">视频状态</div>
      <% end %>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3 white-bg">
      <%= link_to alerts_path do  %>
        <span class="mui-icon xc-icon"><%= image_tag("menjin.png")%></span>
        <div class="mui-media-body">门禁信息</div>
      <% end %>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3 white-bg">
      <%= link_to works_path do  %>
        <span class="mui-icon xc-icon"><%= image_tag("yangan.png")%></span>
        <div class="mui-media-body">烟感</div>
      <% end %>
    </li>
  </ul>
</div>